<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact us
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>


  <ion-card class="welcome-card black-bg-card">
    <div class="icon-container">
    <ion-icon ios="ios-pin" md="md-pin" class="ion-icon-size"> </ion-icon>
    </div>

    <ion-card-header>
    <ion-card-subtitle color="light"> 27 Sanusi Fafunwa Street, Victoria Island, Lagos State.</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card class="welcome-card">
    <div class="icon-container">
    <ion-icon ios="ios-call" md="md-call" class="ion-icon-size"> </ion-icon>
    </div>

    <ion-card-header>
    <ion-card-subtitle>07089253344, 08038077536</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card class="welcome-card red-bg-card">
    <div class="icon-container">
      <ion-icon ios="ios-mail" md="md-mail" class="ion-icon-size"> </ion-icon>
    </div>

    <ion-card-header>
      <ion-card-subtitle color="light">contact@shaunzbar.co.uk</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

</ion-content>
