<ion-header>
  <ion-toolbar>
    <!--<ion-buttons slot="start">-->
      <!--<ion-menu-button></ion-menu-button>-->
    <!--</ion-buttons>-->
    <ion-title>
      Maternal App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="gotToDetailsPage(1, 'Sunshine.jpg', 'Sunshine Hospital', 'Sunshine Hospital is a health care institution providing patient treatment with specialized medical and nursing staff and medical equipment', '21 Ikot Adekunle Road, Ikeja, Lagos', 3)">
    <img src="assets/images/hospitals/Sunshine.jpg"/>
    <ion-card-content>
      <ion-card-title class="menu-header">
        Sunshine Hospital
      </ion-card-title>
      <p>
        <ion-icon name="pin" class="location-icon"></ion-icon> 21 Ikot Adekunle Road, Ikeja, Lagos
      </p>
      <p class="rating-container">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
      <!--<ion-badge class="price-badge">Full Details</ion-badge>-->
    </ion-card-content>
  </ion-card>

  <ion-card (click)="gotToDetailsPage(2, 'dignity-health.jpg', 'Dignity Hospital', 'Dignity Hospital is a health care institution providing patient treatment with specialized medical and nursing staff and medical equipment', '21 Ikot Adekunle Road, Ikeja, Lagos', 3)">
    <img src="assets/images/hospitals/dignity-health.jpg"/>
    <ion-card-content>
      <ion-card-title class="menu-header">
        Dignity Hospital
      </ion-card-title>
      <p>
        <ion-icon name="pin" class="location-icon"></ion-icon> 15 Ijaiye Street, Lekki Phase 1, Lagos
      </p>
      <p class="rating-container">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </p>
      <!--<ion-badge class="price-badge">Full Details</ion-badge>-->
    </ion-card-content>
  </ion-card>

  <ion-card (click)="gotToDetailsPage(3, 'psg.jpg', 'PSG Hospital', 'PSG Hospital is a health care institution providing patient treatment with specialized medical and nursing staff and medical equipment', '21 Ikot Adekunle Road, Ikeja, Lagos', 3)">
    <img src="assets/images/hospitals/psg.jpg"/>
    <ion-card-content>
      <ion-card-title class="menu-header">
        PSG Hospital
      </ion-card-title>
      <p>
        <ion-icon name="pin" class="location-icon"></ion-icon> 38 Ipkanu Avenue, Ikeja, Lagos
      </p>
      <p class="rating-container">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
      <!--<ion-badge class="price-badge">Full Details</ion-badge>-->
    </ion-card-content>
  </ion-card>

  <ion-card (click)="gotToDetailsPage(4, 'fortis.jpg', 'Fortis Maternity', 'Fortis Maternity is a health care institution providing patient treatment with specialized medical and nursing staff and medical equipment', '21 Ikot Adekunle Road, Ikeja, Lagos', 3)">
    <img src="assets/images/hospitals/fortis.jpg"/>
    <ion-card-content>
      <ion-card-title class="menu-header">
        Fortis Maternity
      </ion-card-title>
      <p>
        <ion-icon name="pin" class="location-icon"></ion-icon> 45 Adun Funso Road, Ikeja, Lagos
      </p>
      <p class="rating-container">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </p>
      <!--<ion-badge class="price-badge">Full Details</ion-badge>-->
    </ion-card-content>
  </ion-card>


</ion-content>
